.features {
  width: 90%;
  height: 100%;
  margin: 3em auto;

  header {
    text-align: center;
    h1 {
      font-weight: 600;
    }
    p {
      font-size: 0.9em;
      padding: 1em 0 4em 0;
    }
    .light {
      font-weight: 400;
    }
  }

  .cards {
    .card {
      position: relative;
      height: 15em;
      max-width: 325px;
      background: white;
      padding: 2rem;
      margin: 0 auto 2rem auto;
      border-top: 4px solid;
      border-radius: 0.5rem;
      box-shadow: 0 14px 28px -25px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    }
    img {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }

    & > *:first-child {
      border-color: $Cyan;
    }
    & .card-2 {
      border-color: $Red;
    }
    & .card-3 {
      border-color: $Orange;
    }
    & > *:last-child {
      border-color: $Blue;
    }
  }
}
